﻿@page
@using DSharpPlus.CommandsNext
@using Emzi0767.Utilities
@using RestSharp.Extensions
@using System.Globalization
@using System.Threading
@model PrivacyModel
@{
    ViewData["Title"] = "Commands";
}
<h1 style="margin-top: 70px!important;">@ViewData["Title"]</h1>
<p class="text-lead">
    <strong>
        Here you can see the list of commands and some info about them.
    </strong>
</p>
<div class="row">
    @{
        foreach (Command cmd in Sharpy.Program._client.GetCommandsNext().RegisteredCommands.Values.Where(x => !x.IsHidden).GroupBy(x => x.Name).Select(x => x.FirstOrDefault()))
        {
            CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
            TextInfo textInfo = cultureInfo.TextInfo;
            string name = textInfo.ToTitleCase(cmd.Name);
            string descInfo;
            if (cmd.Description == null)
            {
                descInfo = "This command has no description at all.";
            }
            else
            {
                descInfo = cmd.Description;
            }
            <div class="col-sm-4 my-1">
                <div class="card" style="background: #121314 !important; border: 1px solid black;">
                    <div class="card-body">
                        <h5 class="card-title">@name</h5>
                        <p class="card-text">@descInfo</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#@cmd.Name-modal">More info</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="@cmd.Name-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bg-primary" style="border-bottom: 1px solid black;">
                            <h5 class="modal-title" id="exampleModalLabel">@name</h5>
                            <button type="button" class="close text-white" style="outline: none;" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body bg-dark">
                            @descInfo
                            <p>
                                Aliases: 
                                @{
                                    if (cmd.Aliases.Count == 0)
                                    {
                                        <span>No aliases.</span>
                                    }
                                    else
                                    {
                                        foreach (string alias in cmd.Aliases)
                                        {
                                            <span class="badge bg-light text-dark"><b>@alias</b></span>
                                        }
                                    }
                                }
                            </p>
                        </div>
                        <div class="modal-footer bg-dark">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<style>
    .modal-content {
        background: transparent;
        border-top:  none;
    }
</style>